<!-- <div fxLayout="column" fxLayoutAlign="space-between center"> -->
<mat-toolbar color="accent">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span>User Management</span>
    <button mat-button (click)="onAddUser()">Add User</button>
    <button mat-button (click)="clearDetails()">Clear Details</button>

    <button mat-icon-button>
      <mat-icon matBadge="{{userInfo.length}}">face</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="fill-hght" fxLayout="row" fxLayoutAlign="center center">

  <span class="txt-bg" *ngIf="!isAddPopup && userInfo.length < 1">
    No Users Exist
  </span>
  <div *ngIf="isAddPopup">
    <mat-card class="add-popup" fxLayout="column" fxLayoutAlign="center center">
      <h1>Enter User Details</h1>
      <form [formGroup]="addUserDetails">
        <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
          <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
            <mat-form-field>
              <mat-label>User Name</mat-label>
              <input matInput formControlName="userName">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Designation</mat-label>
              <input matInput formControlName="designation">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
            <mat-form-field>
              <mat-label>Mobile Number</mat-label>
              <input matInput formControlName="mobileNumber">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Email ID</mat-label>
              <input matInput formControlName="emailId">
            </mat-form-field>
          </div>
          <mat-form-field class="w-100">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
          </mat-form-field>
        </div>
      </form>
      <div class="w-100" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" [disabled]="!addUserDetails.valid" (click)="onSaveUser()">Save User
          Details</button>
      </div>
    </mat-card>
  </div>
  <div class="p-20" fxFlex="100%" fxLayoutGap="20px" *ngIf="!isAddPopup && userInfo.length > 0">
    <mat-card fxFlex="30%">
      <div class="card-hght" fxLayout="column" fxLayoutAlign="start center">
        <h1 class="m-tb-10">User List</h1>
        <div class="w-100">
          <mat-list fxLayout="column">
            <div *ngFor="let user of userInfo; let i=index;">
              <mat-list-item role="listitem" (click)="onViewUserDetail(user)">{{user.userName}}
              </mat-list-item>
              <mat-divider></mat-divider>
            </div>
          </mat-list>
        </div>
      </div>
    </mat-card>
    <mat-card fxFlex="70%">
      <div fxLayout="column" fxLayoutAlign="center center">
        <h1>User Details</h1>
        <div fxFlex="70%" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center">
          <div fxFlex="100%" fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center center">
            <mat-form-field>
              <mat-label>User Name</mat-label>
              <input matInput [(ngModel)]="userName">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Designation</mat-label>
              <input matInput [(ngModel)]="designation">
            </mat-form-field>
          </div>
          <div fxFlex="100%" fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center center">
            <mat-form-field>
              <mat-label>Mobile Number</mat-label>
              <input matInput [(ngModel)]="mobileNumber">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Email ID</mat-label>
              <input matInput [(ngModel)]="emailId">
            </mat-form-field>
          </div>
          <mat-form-field class="w-100">
            <mat-label>Address</mat-label>
            <input matInput [(ngModel)]="address">
          </mat-form-field>
        </div>
      </div>
    </mat-card>
  </div>

</div>